body {
	background-color: #fff;
	font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
	color: #222;
}

h1 {
	font-weight: bold; 	
	padding: 10px;
	padding-bottom: 0px;
	margin-bottom: 2px;
	text-align: center;
	font-size: 32px;
}

a, a:active, a:visited {
	color: #222;
}

a:hover {
	color: #a00;
}

#ribbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

#scoreboard {
  text-align: center;
  padding: 0;
  padding-bottom: 12px;
}

#stage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p {
	text-align: center;
	font-weight: normal;
	font-size: 11px;
}